.top-bar {
  /* padding-bottom:8px;
    padding-top: 8px;   */
  background-color: #8c9ea0;
}
.top-bar,
.container,
.left,
.phone,
.email {
  display: flex;
  flex-direction: row;
}
.top-bar .container {
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}
.container .left {
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.container .left .phone,
.container .left .email {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
@media (max-width: 500px) {
  .top-bar .container {
    flex-direction: column;
  }
}
