.searchAndfilterBar .conatiner{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.searchAndfilterBar .conatiner .search-bar{
    width: 60%;
}
.searchAndfilterBar .conatiner .filter-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    .muirtl-10fyffj-MuiButtonBase-root-MuiIconButton-root {
        border: none;
        background-color: #f5f6f7;
    }
    .muirtl-10fyffj-MuiButtonBase-root-MuiIconButton-root svg {
    font-size: 24px;
    color: #6B7280;
}
}